.car-list-container {
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

.car-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.car-card {
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  overflow: hidden;
}

.car-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.car-card img {
  width: 100%;
  height: auto;
}

.car-card-like {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.car-card-like.liked {
  color: red;
}

.car-card h2, .car-card p {
  padding: 0 16px;
}

.car-card button {
  border: none;
  outline: none;
  padding: 10px;
  background-color: #f44336;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

/* Formun genel stilini ayarla */
.form-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

/* İnput ve select elemanlarını stilize et */
.input-field, .select-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Buton için stil */
.filter-button {
  background-color: #ff5722; /* Oranj rengi buton için */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #e64a19; /* Butonun üzerine gelindiğinde daha koyu bir renk */
}

/* Filtreleme formunun yanındaki yeni ilan butonu





/* Diğer stil tanımlamalarınızı buraya ekleyin */

/* CarDetails.css */

.car-details-container {
  font-family: 'Arial', sans-serif;
  max-width: 750px;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.car-title {
  color: #333;
  text-align: center;
}

.car-image-container {
  text-align: center; /* Resmi ortalar */
  margin: 20px 0; /* Biraz boşluk ekler */
}

.car-image {
  max-width: 100%; /* Konteynere sığdırmak için */
  height: auto; /* Oranı korumak için */
  border-radius: 4px; /* Kenarları yumuşatır */
}

.car-details {
  margin-top: 1rem;
}

.car-details p {
  font-size: 1rem;
  line-height: 1.5;
  color: #666;
  margin-left: 65px;
}

.car-details p strong {
  color: #333;
}

.car-details-loading,
.car-details-error {
  text-align: center;
  margin-top: 2rem;
}










